<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Asistencia</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Vuetify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>

<body>
    <div id="app" data-app>
        <header>
            <h1>Lista de Asistencia</h1>
        </header>

        <div id="main-content">
            <!-- Floating Form for Attendance Data -->
            <div id="floating-form" v-if="showForm">
                <v-form>
                    <h3 class="mb-3 text-center">Registrar Asistencia</h3>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-select v-model="horasPorDia" :items="horasPorDiaOptions" label="Horas por día"
                                    required></v-select>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="periodoInicio" label="Inicio del Periodo" type="date"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="periodoFin" label="Fin del Periodo" type="date"
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="periodoEvaluaciones" label="Fecha de Evaluaciones" type="date"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-select v-model="vacaciones" :items="vacacionesOptions"
                                    label="¿Hay vacaciones intermedias?" required></v-select>
                            </v-col>
                            <v-col cols="12" md="4" v-if="vacaciones === 'Sí'">
                                <v-text-field v-model="inicioVacaciones" label="Inicio de Vacaciones" type="date"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4" v-if="vacaciones === 'Sí'">
                                <v-text-field v-model="finVacaciones" label="Fin de Vacaciones" type="date"
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="diasAsueto" label="Días de Asueto" type="number"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="cantidadAlumnos" label="Cantidad de Alumnos" type="number"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="nombreGrupo" label="Nombre del Grupo" required></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="nombreMateria" label="Nombre de la Materia"
                                    required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="nombreDocente" label="Nombre del Docente"
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                        <div class="text-center mt-3">
                            <v-btn @click="generarAsistencia">Generar Asistencia</v-btn>
                        </div>
                    </v-container>
                </v-form>
            </div>

            <!-- Tabla de Asistencias Generadas -->
            <div id="attendance-table" v-if="!showForm">
                <div class="row">
                    <h3 class="mb-3 col-10">Asistencias de Alumnos</h3>
                    <div id="pdf-button" v-if="!showForm" class="col-2">
                        <button class="btn btn-outline-secondary" @click="descargarPDF">Descargar PDF</button>
                    </div>
                </div>
                <table class="table table-bordered" id="tablaAsistencia">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Horas por Día</th>
                            <th>Inicio del Periodo</th>
                            <th>Fin del Periodo</th>
                            <th>Fecha de Evaluaciones</th>
                            <th>Vacaciones</th>
                            <th>Inicio Vacaciones</th>
                            <th>Fin Vacaciones</th>
                            <th>Días de Asueto</th>
                            <th>Cantidad de Alumnos</th>
                            <th>Nombre del Grupo</th>
                            <th>Nombre de la Materia</th>
                            <th>Nombre del Docente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(alumno, index) in alumnos" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ alumno.horasPorDia }}</td>
                            <td>{{ alumno.periodoInicio }}</td>
                            <td>{{ alumno.periodoFin }}</td>
                            <td>{{ alumno.periodoEvaluaciones }}</td>
                            <td>{{ alumno.vacaciones }}</td>
                            <td>{{ alumno.inicioVacaciones }}</td>
                            <td>{{ alumno.finVacaciones }}</td>
                            <td>{{ alumno.diasAsueto }}</td>
                            <td>{{ alumno.cantidadAlumnos }}</td>
                            <td>{{ alumno.nombreGrupo }}</td>
                            <td>{{ alumno.nombreMateria }}</td>
                            <td>{{ alumno.nombreDocente }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>