body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #DDDDDD;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 80px);
    padding: 20px;
}

#floating-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    background-color: #C8E6C9;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Asegura que las columnas tengan un tamaño uniforme */
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #66BB6A;
    color: white;
    border-bottom: 2px solid #388E3C;
}

tr:nth-child(even) {
    background-color: #E8F5E9;
}

.v-btn {
    background-color: #999999 !important;
    color: white !important;
}

.v-btn:hover {
    background-color: #676767 !important;
}

.v-text-field input {
    border: none;
    border-radius: 5px;
    color: #000000;
    box-shadow: none;
    outline: none;
}

.v-select .v-input__control {
    border: none;
    border-radius: 5px;
}

.v-input__control {
    color: #000000 !important;
}

.v-text-field {
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
}

/* Estilo para la tabla */
.table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    /* Asegura que la tabla ocupe todo el ancho disponible */
}

/* Estilo para las celdas de la tabla */
.table th,
.table td {
    border: none;
}

.table th {
    background-color: #999999;
    color: white;
    font-weight: bold;
}

/* #colorAlumnos {
    background-color: rgb(28, 119, 105);
} */

/* Asegurar que la tabla ocupe todo el ancho disponible y el contenido se ajuste */
.table th,
.table td {
    white-space: normal;
    /* Permite que el texto se ajuste en varias líneas si es necesario */
}

#pdf-button {
    margin-bottom: 15px;
}

.left-button {
    position: fixed;
    left: 0;
    margin-bottom: 15px;
}

.center-button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}